<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HPAudioSwitch.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, 
            log4net"/>
    </sectionGroup>
    
  </configSections>

  <applicationSettings>
    <HPAudioSwitch.Config>
      <setting name="BnOPath" serializeAs="String">
        <value>Realtek\Audio\HDA\RtkNGUI64.exe</value>
      </setting>
      <setting name="ConnexantPath" serializeAs="String">
        <value>CONEXANT\SA3\HP-NB-AIO\SmartAudio3.exe</value>
      </setting>
      <setting name="CaptureThreshold" serializeAs="String">
        <value>78.9</value>
      </setting>
      <setting name="RegRealtekKey" serializeAs="String">
        <value>SOFTWARE\Realtek\Audio\GUI_INFORMATION</value>
      </setting>
      <setting name="RegRealtekFolder" serializeAs="String">
        <value>CplDirectory</value>
      </setting>
      <setting name="RegRealtekExe" serializeAs="String">
        <value>CplExeFile</value>
      </setting>
      <setting name="RegConnexantKey" serializeAs="String">
        <value>SOFTWARE\Conexant\SA3\HP-NB-AIO</value>
      </setting>
      <setting name="RegConnexantFolder" serializeAs="String">
        <value>CplDirectory</value>
      </setting>
      <setting name="RegConnexantExe" serializeAs="String">
        <value>CplExeFile</value>
      </setting>
      <setting name="AudioControlLNKs" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>HP Audio.lnk</string>
            <string>Beats Audio.lnk</string>
            <string>DTS Audio Control Panel.lnk</string>
            <string>DTS Audio Control.lnk</string>
            <string>Bang &amp; Olufsen.lnk</string>
            <string>B&amp;O Play.lnk</string>
            <string>Bang &amp; Olufsen Audio Controls.lnk</string>
            <string>Bang &amp; Olufsen Audio Control.lnk</string>
            <string>B&amp;O Play Audio Controls.lnk</string>
            <string>B&amp;O Play Audio Control.lnk</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AudioControlPath" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>%ProgramData%\Microsoft\Windows\Start Menu\Programs\</string>
            <string>%ProgramData%\Microsoft\Windows\Start Menu\Programs\Music, Photos and Videos\</string>
            <string>%ProgramData%\Microsoft\Windows\Start Menu Places\Programs\</string>
            <string>%ProgramData%\Microsoft\Windows\Start Menu Places\Programs\Music, Photos and Videos\</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="PathToAppId" serializeAs="String">
        <value>%SYSTEMDRIVE%\\ProgramData\\HP\\HP Audio Switch\\appid</value>
      </setting>
      <setting name="SAConfigFileList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>SAConfig.BandO.xml</string>
            <string>SAConfig.BandO.BO.xml</string>
            <string>SAConfiguration.xml</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MultiScreenMargin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MultiScreenContextMenuMargin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PathToConfig" serializeAs="String">
        <value>%APPDATA%\\HP\\HP Audio Switch</value>
      </setting>
    </HPAudioSwitch.Config>
    <log4net>
      <root>
        <level value="DEBUG"/>
        <appender-ref ref="RollingFileAppender"/>
      </root>
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="${ALLUSERSPROFILE}\HP\HP Audio Switch\hpaudioswitch.log"/>
        <appendToFile value="true"/>
        <rollingStyle value="Size"/>
        <maxSizeRollBackups value="10"/>
        <maximumFileSize value="1MB"/>
        <staticLogFileName value="true"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
        </layout>
      </appender>
    </log4net>
  </applicationSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
